/* You can add global styles to this file, and also import other style files */
$primary-blue: #1d8fe1;
$light-grey-text: #4a4a4a;
$btn-gradient: linear-gradient(
  to right top,
  #1d8fe1,
  #1b87d6,
  #1980ca,
  #1678bf,
  #1471b4
);
body {
  background-color: #f7f9fc;
}
* {
  transition: all 0.3s ease-in-out;
}
.bg-primary-blue {
  background-color: $primary-blue;
}
.light-grey-text {
  color: $light-grey-text;
}
.btn-light-cus {
  background-color: #f5f5f5;
}
.btn-grad-cus {
  background: $btn-gradient;
  color: #fff;
  &:hover {
    background-color: darken($primary-blue, 20%);
  }
}

.btn-cus {
  height: 48px;
  width: 183px;
}
