<ng-http-loader [backgroundColor]="'#ff0000'" [spinner]="spinkit.skCubeGrid" [debounceDelay]="100" [minDuration]="300"
  [extraDuration]="300">
</ng-http-loader>
<app-header [storeDetail]="headerData"></app-header>
<div class="container-fluid pt-8 pt-md-0 ">
  <app-offers></app-offers>
</div>

<div class="container ">
  <app-offers [cardData]="offersData"></app-offers>
</div>
<div class="container my-3">
  <app-product-cards [productCardsData]="trendingProductsData"></app-product-cards>
</div>
<div class="container my-3">
  <app-product-cards [productCardsData]="lowestPriceData"></app-product-cards>
</div>
<div class="container my-3">
  <app-categories-card [categoriesData]="categoriesData"></app-categories-card>
</div>
<app-footer></app-footer>
