<div class="feature-card row mx-auto">

  <div class="card col-12 col-md-auto px-1 my-3 mr-3" *ngFor="let feature of featureData" [ngStyle]="{'backgroundColor': feature.bgColor}">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title text-uppercase text-muted mb-0"> {{feature.title}} </h5>
          <span class="h5 text-muted font-weight-normal mb-0">{{feature.desc}}</span>
        </div>
        <div class="col-auto">
          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
            <i class="fas fa-chart-bar"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
