<div class="row my-3">
  <div class="col-12 col-md-3">
  </div>
  <div class="col-12 col-md-9 row  justify-content-betwee container-fluid">
    <div class="col-4">
      <small class=" text-muted">Showing 1-10 of 20,415 Results</small>
    </div>
    <div class=" col-5 d-flex justify-content-around">
      <span class="dropdown border border-dark">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Neweset First
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Oldest First</a>
          <a class="dropdown-item" href="#">Relavence First</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </span>
      <div class="fa-stack m-1">
        <i class="fas fa-square fa-stack-2x text-white  border border-dark"></i>
        <i class="fas fa-th-large fa-stack-1x"></i>
      </div>
      <div class="fa-stack m-1">
        <i class="fas fa-square fa-stack-2x text-white  border border-dark"></i>
        <i class="fas fa-list-ul fa-stack-1x"></i>
      </div>
      <div class="fa-stack m-1 ">
        <i class="fas fa-square  fa-stack-2x text-white border border-dark"></i>
        <i class="fas fa-globe-americas fa-stack-1x"></i>
      </div>
    </div>
    <div class="col-12">
      <h4 class="light-grey-text">Find Local Business</h4>
      <div class="media bg-white shadow-sm">
        <img class="m-3" src="https://source.unsplash.com/64x64/?ship,boat" alt="Generic placeholder image">
        <div class="media-body row">
          <div class="col-4">
            <h5 class=" h5-responsive light-grey-text">Bullets Boats</h5>
            <span class="rating-container">
              <span class="bg-success rating  text-white" style="padding: 2px; margin: 5px;border-radius: 2px">
                <small> <i class="far fa-star"></i> 4.8</small>
              </span>
              <small class=" text-muted">420 Reviews</small>
            </span>
            <div class=" mt-4">
              <p class=" align-text-bottom"><i class="fas fa-map-marker-alt text-muted"></i> New York City, US</p>
            </div>
          </div>
          <div class="col-8 row">
            <div class="col-12 d-flex justify-content-between">
              <div> <small class=" text-muted">Specilaits</small>
                <h5>Sales and Service</h5>
              </div>
              <div class="mt-2">
                <i class="far fa-heart"></i>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-end my-2">
              <button class="btn mr-2 btn-grad-cus shadow-sm btn-cus">Contact Us</button>
              <button class="btn btn-light-cus shadow-sm btn-cus">View Listing</button>
            </div>
          </div>
        </div>
      </div>
      <div class="media bg-white mt-2 shadow-sm">
        <img class="m-3 rounded-circle" src="https://source.unsplash.com/64x64/?ship,sea" alt="Generic placeholder image">
        <div class="media-body row">
          <div class="col-4">
            <h5 class=" h5-responsive light-grey-text">Bullets Boats</h5>
            <span class="rating-container">
              <span class="bg-success rating  text-white" style="padding: 2px; margin: 5px;border-radius: 2px">
                <small> <i class="far fa-star"></i> 4.8</small>
              </span>
              <small class=" text-muted">420 Reviews</small>
            </span>
            <div class=" mt-4">
              <p class=" align-text-bottom"><i class="fas fa-map-marker-alt text-muted"></i> New York City, US</p>
            </div>
          </div>
          <div class="col-8 row">
            <div class="col-12 d-flex justify-content-between">
              <div> <small class=" text-muted">Specilaits</small>
                <h5>Sales and Service</h5>
              </div>
              <div class="mt-2">
                <i class="far fa-heart"></i>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-end my-2">
              <button class="btn mr-2 btn-grad-cus shadow-sm btn-cus">Contact Us</button>
              <button class="btn btn-light-cus shadow-sm btn-cus">View Listing</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
