<div class="row my-3">
  <div class="col-3">
  </div>
  <div class="col-9 row  justify-content-between">
    <div class="col-4">
      <small class=" text-muted">Showing 1-10 of 20,415 Results</small>
    </div>
    <div class=" col-5 d-flex justify-content-around">
      <span class="dropdown border border-dark">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Neweset First
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Oldest First</a>
          <a class="dropdown-item" href="#">Relavence First</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </span>
      <div class="fa-stack">
        <i class="fas fa-square fa-stack-2x text-white  border border-dark"></i>
        <i class="fas fa-th-large fa-stack-1x"></i>
      </div>
      <div class="fa-stack ">
        <i class="fas fa-square fa-stack-2x text-white  border border-dark"></i>
        <i class="fas fa-list-ul fa-stack-1x"></i>
      </div>
      <div class="fa-stack  ">
        <i class="fas fa-square  fa-stack-2x text-white border border-dark"></i>
        <i class="fas fa-globe-americas fa-stack-1x"></i>
      </div>
    </div>
    <div class="col-12">
      <h4 class="font-weight-bold">Find Local Business</h4>

    </div>
  </div>

</div>
