.border-left-rounded {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.border-right-rounded {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}
.border-radius-20 {
  border-radius: 20px;
}
