<div class=" my-5">
  <div class="row">
    <div class="col-12 col-md-10  row mx-auto mx-md-0">
      <div class="media bg-white mt-2 shadow-sm row w-100 mx-auto">
        <div class=" col-12 col-md-6 row">
          <div class="col-12 col-md-6">
            <img class="p-3 align-self-center rounded-circle ml-5 ml-md-2" src="https://source.unsplash.com/165x165/?ship,sea"
              alt="Generic placeholder image">
          </div>
          <div class="col-12 col-md-6">
            <div class="py-2 row h-100">
              <div class="col-12 text-center text-md-left d-flex flex-column">
                <h5>Bullets Boats</h5>
                <div class="  align-text-bottom mt-auto">
                  <h6 class="text-muted">Specialties</h6>
                  <p>Sales, Service</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" col-12 col-md-6 row my-auto">
          <div class="col-12 col-md-8 d-flex flex-column justify-content-start justify-content-md-around text-center text-md-left">
            <p><i class="fas fa-globe-americas text-muted mr-4"></i><a class=" text-primary" href="www.bulletboats.com">www.bulletboats.com</a>
            </p>
            <p> <i class="fas fa-envelope text-muted mr-4"></i> <a class=" text-primary" href="mailto:bulletboats@yahoo.com">bulletboats@yahoo.com</a>
            </p>
            <p> <i class="fas fa-map-marker-alt text-muted mr-4"></i>New York City, US</p>
          </div>
          <div class="col-12 col-md-4">
            <div class="py-2 row h-100">
              <div class="col-12 text-center text-md-left d-flex flex-column">
                <button style="height: 48px;width: 129px;" class="btn btn-grad-cus">Edit
                  <i class="ml-5 fas fa-angle-right"></i></button>
                <div class="  align-text-bottom mt-auto">
                  <small class="text-muted">Verified Social Profiles</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 ">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">SELLING</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">SOLD</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">FAVOURITES</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="product-container">
            <div class="product-item shadow-sm">
              <div class="product-detail">

                <img src="https://source.unsplash.com/random" alt="">


                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/100x100" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/150x250" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/200x250" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div class="product-container">
            <div class="product-item shadow-sm">
              <div class="product-detail">

                <img src="https://source.unsplash.com/random" alt="">


                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/100x100" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/150x250" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/200x250" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          <div class="product-container">
            <div class="product-item shadow-sm">
              <div class="product-detail">

                <img src="https://source.unsplash.com/random" alt="">


                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/100x100" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/150x250" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random/200x250" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
            <div class="product-item shadow-sm">
              <div class="product-detail">
                <img src="https://source.unsplash.com/random" alt="">
                <div class="product-name bg-white">
                  Lorem, ipsum dolor.
                </div>
                <div class="owner-detail">
                  Lorem, ipsum.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
