/* You can add global styles to this file, and also import other style files */
$mdc-theme-primary: #6200ee;
$mdc-theme-secondary: #018786;
$mdc-theme-background: #fff;
// @import 'material-components-web/material-components-web';
* {
  transition: all 0.3s;
}
.slick-prev,
.slick-next {
  width: 40px;
  top: 0;
  bottom: 0;
  text-align: center;
  color: #333;
  // background: rgba(255, 255, 255, 0.9);
  background: #dbdedead;
  transition: 0.3s;
  opacity: 1;
  z-index: 1;
  height: inherit;
  border-radius: inherit;
  visibility: visible;
  display: flex;
  align-items: center;
  transform: inherit;
}
.slick-next::before,
.slick-prev::before {
  // content: '→';
}
.slick-next {
  right: 0;
  border-left: 1px solid #dbdedead;
}
.slick-prev {
  left: 0;
  border-right: 1px solid #dbdedead;
}
